<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <title>IBAR.AZ </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/cosmos.min.css">
    <link rel="stylesheet" href="/css/application.min.css">
  </head>
  <body class="authentication-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <div class="authentication-content m-b-30">
              <div style="text-align: center;"><img src="/img/ibar.jpg" height="100" width="150"></div>
            <form action="" method="post">
              <div class="form-group">
                <label for="form-control-1">İstifadəçi adı</label>
                <input type="text" class="form-control" id="form-control-1" name="username" placeholder="İstifadəçi adı...">
              </div>
              <div class="form-group">
                <label for="form-control-2">Şifrə</label>
                <input type="password" class="form-control" id="form-control-2" name="password" placeholder="Parol...">
              </div>

              <button type="submit" class="btn btn-info btn-block">Daxil ol</button>
              <br>
            </form>
          </div>
        </div>
      </div>

    </div>
  </body>

</html>
